*{

    padding: 0;

    margin: 0;

}

html {

    scroll-behavior: smooth;

}

header{

    position: absolute;

    padding-top: 2em;

}

body{

    margin: 0;

}

.case_hero{

    padding-top: 135px;

    background-repeat: no-repeat;

    background-size: cover;

    border-bottom-left-radius: 80px;

    border-bottom-right-radius: 80px;

    position: relative;

}



.case_hero .container{

    position: relative;

    z-index: 1;

}



.case_photo-gradient{

    position: absolute;

    bottom: 0;

    width: 100%;

    height: 440px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15.06%, rgba(0, 0, 0, 0.0670807) 32.83%, rgba(0, 0, 0, 0.134161) 47.3%, rgba(0, 0, 0, 0.192857) 62.59%, rgba(0, 0, 0, 0.262034) 73.75%, rgba(0, 0, 0, 0.3375) 87.8%, rgba(0, 0, 0, 0.4) 100%);

    border-bottom-left-radius: 80px;

    border-bottom-right-radius: 80px;

}

p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

    color: #F6F6F6;

}

h1{

    font-family: Stapel;

    font-size: 36px;

    font-weight: 500;

    line-height: 44.64px;

    color: #FFFFFF;

    max-width: 600px;

}

.case_hero-points{

    display: flex;

    gap: 16px;

    margin-top: 30px;

}



.case_hero-points p{

    display: inline-block;

    padding: 10px 24px 10px 24px;

    border-radius: 35px;

    border: 1px solid #F6F6F6;

    color: #F6F6F6;

    font-size: 16px;

    font-weight: 500;

    line-height: 20.24px;

}



.case_title{

    padding-top: 100px;

    padding-bottom: 110px;

}



.case_hero-result{

    border-top: 1px solid #F6F6F6CC;

    padding-top: 32px;

    padding-bottom: 85px;

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

}

.case_stat{

    display: flex;

    gap: 72px;

}

.stat_item p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.24px;

    color: #F6F6F6;

}

.stat_item .stat_text{

    padding-top: 6px;

    font-family: Stapel;

    font-size: 20px;

    font-weight: 500;

    line-height: 26px;

}

.case_arrow{

    width: 44px;

    height: 44px;

    border-radius: 100px;

    border: 1px solid #F6F6F699;

    display: flex;

    justify-content: center;

    align-items: center;

}

.case_presentation-wrapper{

    width: 100%;

    display: flex;

    flex-direction: column;

    background: radial-gradient(79.46% 1215.24% at 0% 100%, rgba(199, 38, 38, 0.2) 0%, #252525 100%);

    border-radius: 24px;

    padding: 88px 40px 48px 72px;

    min-height: 224px;

    justify-content: space-between;

    box-sizing: border-box;

}

.case_presentation-text{

    display: flex;

    justify-content: center;

    gap:16.5%;

}

.presentation_item p{

    font-family: Stapel;

    font-size: 24px;

    font-weight: 500;

    line-height: 31.2px;

    color: #F6F6F6;

}

.presentation_item .presentation_text{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

    color: #B1AAAA;

    margin-top: 10px;

}

.case_presentation-text .presentation_item1{

    width: 23%;

}

.case_presentation-text .presentation_item2{

    width: 22%;

}

.case_presentation-text .presentation_item4{

    width: 22%;

}

.case_presentation{

    margin-top: 100px;

}

.case_presentation-btn{

    display: flex;

    justify-content: right;

}

.review-video_wrapper{

    position:relative;

    margin-top:60px;

    width: 100%;

    max-width: 795px;

}

.review-video-text{

    padding: 0 15%;

    text-align: center;

}

.review_part{

    border-radius:100%;

    background: #F6F6F60A;

    border: 0.85px solid #F6F6F699;

    aspect-ratio: 1 / 1;

    width:75%;

    margin-left:24%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.review_part p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

    text-align: center;

    color: #F6F6F6;

}

.video_part{

    width:32%;

    position:absolute;

    top:40px;

}

.video_wrapper{

    border-radius:100%;

    aspect-ratio:1 / 1;

    width:100%;

    position: relative;

    overflow:hidden;

}

.video_wrapper video{

    height:100%;

    width: 100%;

    object-fit: cover; /* Видео адаптируется под круглый контейнер */

    object-position: center; /* Центрируем видео */

}

.video-play {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  margin: auto;

  width: 56px;

  height: 56px;

  border-radius: 50%;

  background: #15151566;

  box-shadow: 0 0 0 4px #F6F6F666;

  z-index: 1;

  cursor: url(../img/pointer.svg),pointer;

  transition: 0.2s ease;

  transition-property: opacity, visibility;

}



.video-play::before {

  content: "";

  display: block;

  position: absolute;

  top: 0;

  bottom: 0;

  margin: auto;

  left: 21px;

  width: 0;

  height: 0;

  border: 20px solid transparent;

  border-top-width: 12px;

  border-bottom-width: 12px;

  border-left-color: #C72626;

  border-right-width: 0;

  transition: transform 0.2s ease;

}



.video-pause {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  margin: auto;

  width: 56px;

  height: 56px;

  border-radius: 50%;

  background: #15151566;

  box-shadow: 0 0 0 4px #F6F6F666;

  z-index: 1;

  cursor: url(../img/pointer.svg),pointer;

  transition: 0.2s ease;

  transition-property: opacity, visibility;

  display: none; /* Изначально скрыта */

}



.video-pause::before, .video-pause::after {

  content: "";

  display: block;

  position: absolute;

  top: 0;

  bottom: 0;

  margin: auto;

  width: 8px;

  height: 24px;

  background-color: #C72626;

}



.video-pause::before {

  left: 15px;

  pointer-events: all;

}



.video-pause::after {

  right: 15px;

  pointer-events: all;

}



.progress {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    pointer-events: none;

    z-index: 1;

}



.progress-svg {

    width: 100%; /* Адаптивная ширина SVG */

    height: auto; /* Высота SVG будет адаптивной */

}



.progress-circle {

    stroke-dasharray: 565.48; /* Полный периметр круга */

    stroke-dashoffset: 565.48; /* Начальное значение, скрыто */

    transition: stroke-dashoffset 0.1s linear;

}



.review-author{

    font-family: Stapel;

    font-size: 14px;

    font-weight: 600;

    line-height: 17.71px;

    color: #F6F6F6;

}

.review-job_title{

    font-family: Stapel;

    font-size: 14px;

    font-weight: 400;

    line-height: 17.71px;

    color: #F6F6F6CC;

}

.case_review{

    margin-top: 150px;

    display: flex;

    align-items: center;

    flex-direction: column;

}

.review-read-more{

    color: #C72626;

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.24px;

    text-decoration: none;

}

.background-review-modal .review-read-more{

    display: none;

}

.background-review-modal{

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 10;

    background: #151515;

    height: 100vh;

    left: 100%;

    padding: 2rem 0 0;

    background-repeat: no-repeat;

    background-size: 100%;

}

.background-review-modal.active{

    animation: slideInFromRight 0s ease-in-out;

    left: 0;

    animation-fill-mode: both;

}

.background-review-modal-content{

    position: absolute;

    width: 100%;

    opacity: 0;

    background: url("../img/background/background-decktop-menu-active.png");

    background-repeat: no-repeat;

    left: 0;

    bottom: 0;

    height: 60rem;

}

.background-review-modal.active .background-review-modal-content{

    animation-duration: 0s;

    animation-name: openMenu;

    animation-delay: 0s;

    animation-fill-mode:both;

}

.background-review-modal.active .modal-content-review{

    animation-duration: 0s;

    animation-name: openMenu;

    animation-delay: 0s;

    animation-fill-mode:both;

}

.background-review-modal.active .close-modal-review{

    animation-duration: 0s;

    animation-name: openMenu;

    animation-delay: 0s;

    animation-fill-mode:both;

}

.close-modal-review{

    z-index: 100;

    position: relative;

}

.modal-content-review{

    z-index: 100;

    position: relative;

}

@keyframes openMenu {

    25% {

        opacity: 0;

    }

    50% {

        opacity: 0.5;

    }

    75% {

        opacity: 0.8;

    }

    100% {

        opacity: 1;

    }

}

@keyframes slideInFromRight {

    0% {

        transform: translateX(100%);

    }



    100% {

        transform: translateX(0px);

        background-color: #151515;

    }

}

.close-modal-review{

    margin-top: 3rem;

    display: flex;

    justify-content: end;

}

.modal-content-review{

    width: 60%;

    display: flex;

    flex-direction: column;

    margin: auto;

    margin-top: 2rem;

    color: #F6F6F6;

}

.close-modal-review:hover svg{

    cursor: url(../img/pointer.svg),pointer;;

}

.close-modal-review:hover{

    cursor: url(../img/pointer.svg),pointer;;

}

.close-modal-review:hover svg path{

    fill: #C72626;

    cursor: url(../img/pointer.svg),pointer;;

}

.none-content-review{

    display: none;

}

.background-review-modal .review-read-more{

    display: none;

}

.background-review-modal .review-text {

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

    color: #F6F6F6;

}

.background-review-modal .review-job_title {

    margin-top: 8px;

    margin-bottom: 24px;

}

.review-video-text .review-text{

    text-overflow: ellipsis;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 8; 

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: normal;

    max-height: calc(20.8px * 8);

}

h2{

    font-family: Stapel;

    font-size: 40px;

    font-weight: 500;

    line-height: 48px;

    text-align: center;

    color: #F6F6F6;

}

.case_result_work{

    margin-top: 150px;

    position: relative;

    z-index: 1;

}

.title_left{

    text-align: left;

}

.case_works{

    margin-top: 150px;

    position: relative;

    z-index: 1;

}

.case_back_wrapp{

    position: relative;

}

.case_back_wrapp .background-page-4{

    top: -500px;

}

.case_result_work-wrapper{

    margin-top: 56px;

}

.case_result-wrapper{

    display: flex;

    flex-direction: column;

    gap: 56px;

}

.case_result-item{

    background: #252525;

    border-radius: 24px;

    padding: 56px 88px 48px 48px;

    position: relative;

    z-index: 1;

}

h3{

    font-family: Stapel;

    font-size: 24px;

    font-weight: 500;

    line-height: 31.2px;

    color: #F6F6F6;

}

.case_result-item p{

    font-family: Stapel;

    font-size: 20px;

    font-weight: 400;

    line-height: 27px;

    color: #B1AAAA;

}

.case_result-graph{

    display: flex;

    justify-content: space-between;

    margin-top: 54px;

}

.case_result-img{

    width: 65%;

}

.case_result-img img{

    width: 100%;

}

.case_result-graph-points{

    display: flex;

    flex-direction: column;

    gap: 12px;

}

.case_result-graph-point{

    display: flex;

    gap: 8px;

    justify-content: flex-start;

    align-items: center;

}

.case_result-circle1{

    width: 14px;

    height: 14px;

    border-radius: 100%;

    border: 3px solid #C72626;

    background: #151515;

}

.case_result-circle2{

    width: 14px;

    height: 14px;

    border-radius: 100%;

    border: 3px solid #F6F6F6;

    background: #151515;

}

.case_result-circle3{

    width: 14px;

    height: 14px;

    border-radius: 100%;

    background: #151515;

    position: relative;

    margin: 3px;

}

.case_result-circle3::before{

    position: absolute;

    transform: translate(-3px, -3px);

    width: 20px;

    height: 20px;

    border-radius: 100%;

    z-index: -1;

    content: "";

    background-image: linear-gradient(265.35deg, #E21D1D -8.12%, #F2F2F2 107.89%);

}

.case_result-circle4{

    width: 14px;

    height: 14px;

    border-radius: 100%;

    border: 3px solid #1EB7B8;

    background: #151515;

}

.case_result-graph-point p{

    font-family: Stapel;

    font-size: 14px;

    font-weight: 400;

    line-height: 17.71px;

    color: #B1AAAA;

}

.big-photo{

    width: 80%;

}

.big-photo-90{

    width: 90%;

}

.title-flex{

    display: flex;

    justify-content: space-between;

}

.title-flex .case_result-graph-points{

    margin-top: 20px;

}

.title-flex ~ .case_result-graph{

    margin-top: 0;

}

.case_works-wrapper{

    display: flex;

    gap: 32px;

    margin-top: 56px;

}

.ul-case_works{

    display: flex;

    flex-direction: column;

    gap: 16px;

    width: 50%;

}

.ul-case_works li{

    list-style-type: none;

    display: flex;

    gap: 12px;

    align-items: center;

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

    color: #F6F6F6;

}

.ul-case_works li::before{

    content: '';

    background-image: url(../img/case/list-done.svg);

    width: 32px;

    height: 32px;

    background-size: cover;

    flex-shrink: 0;

}

.case_recommended{

    margin: 150px 0;

}

.btn-red{

    border: none;

}

.case_recommended-wrapper .overlay-inner{

    margin-top: 56px;

    display: flex;

    gap: 32px;

}

.case_recommended-item{

    background: #252525;

    border: 1px solid #F6F6F61A;

    border-radius: 24px;

    padding: 40px 24px;

}

.case_recommended-item-title{

    height: 76px;

    display: flex;

    align-items: flex-end;

    padding-bottom: 16px;

    border-bottom: 1px solid #F6F6F666;

}

.case_recommended-item-title p{

    font-family: Stapel;

    font-size: 24px;

    font-weight: 500;

    line-height: 31.2px;

}

.case_recommended-item-desc{

    padding-top: 32px;

    height: 346px;

    box-sizing: border-box;

}

.case_recommended-item-price{

    display: flex;

    justify-content: space-between;

}

.case_recommenden-price p:nth-child(2){

    font-family: Stapel;

    font-size: 20px;

    font-weight: 500;

    line-height: 26px;

    color: #F6F6F6;

    margin-top: 8px;

}

.case_recommended-wrapper .slick-track{

    display: flex;

    margin-left: 0 ;

    margin-right: 0 ;

}

.case_recommended-wrapper .slick-list{

    margin-left: -16px ;

    margin-right: -16px ;

}

.case_recommended-item{

    margin: 0 16px;

}

.case_stat a {

    text-decoration: none;

    color: #F6F6F6;

}

.case_stat a:hover{

    color: #C72626;

}

.case_result-table{

    margin-top: 40px;

}

.case_result-table p{

    color: #F6F6F6;

    margin-top: 10px;

    margin-bottom: 8px;

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

}

.case_table-title{

    display: flex;

}

.case_table-row{

    display: flex;

}

.case_table-title p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 500;

    line-height: 20.24px;

    margin-top: 0;

}

.case_table-title-1{

    border-right: 1px solid #F6F6F61A;

    width: 55%;

}

.case_table-title-2{

    padding-left: 20px;

}

.case_table_column-1{

    border-bottom: 1px solid #F6F6F61A;

    border-right: 1px solid #F6F6F61A;

    width: 55%;

}

.case_table_column-2{

    border-bottom: 1px solid #F6F6F61A;

    width: 40%;

    padding-left: 20px;

}

.presentation_item.presentation_item3{

    width: 45%;

}

.presentation_item.presentation_item3 ul{

    list-style-type: none;

}

.presentation_item.presentation_item3 ul p{

    color: #B1AAAA;

    padding-left: 20px;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

}

.presentation_item.presentation_item3 ul li{

    display: flex;

    position: relative;

}

.presentation_item.presentation_item3 ul li::before{

    content: '▪';

    display: inline-block;

    transform: rotate(45deg);

    font-size: 10px;

    color: #B1AAAA;

    position: absolute;

    left: 8px;

    top: 4px;

}

.case_result-slider-wrapp{

    width: 100%;

    backdrop-filter: blur(4px);

    background: #F6F6F61A;

    border-radius: 24px;

    padding: 8px;

    box-sizing: border-box;

}

.case_result-slider-item{

    width: 100%;

    border-radius: 24px;

    background: #F6F6F6;

    padding: 36px 0;

}

.case_result-slider-item img{

    margin-left: auto;

    margin-right: auto;

    width: 100%;

}

.next-case{

    display: flex;

    align-items: center;

    justify-content: center;

    width: 46px;

    height: 46px;

    background-color: #151515;

    border: 1px solid rgba(246, 246, 246, 0.40);

    border-radius: 100%;

    position: relative;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

    overflow: hidden;

    cursor: url(../img/pointer.svg),pointer;

    position: absolute;

    top: -6.5em;

    right: 0px;

}



.prev-case {

    display: flex;

    align-items: center;

    justify-content: center;

    width: 46px;

    height: 46px;

    background-color: #151515;

    border: 1px solid rgba(246, 246, 246, 0.40);

    border-radius: 100%;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

    overflow: hidden;

    cursor: url(../img/pointer.svg),pointer;

    position: absolute;

    top: -6.5em;

    right: 4rem;

    -webkit-transition: all 0.4s;

    transition: all 0.4s;

    transform: translate(0px, 0px);

}

.prev-case:hover{

    transition: all 0.3s;

}

.prev-case:hover svg path {

    transform: translate(-40px, 0px);

    position: relative;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}

.prev-case svg path {

    transform: translate(0px, 0px);

    position: relative;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}

.prev-case:before{

    transition: all 0.3s;

    display: flex;

    align-items: center;

    justify-content: center;

    opacity: 0;

    background-color:var(--White-80, rgba(246, 246, 246));

    width: 0px;

    height: 0px;

    border: 1px solid white;

    content: "";

    position: absolute;

    border-radius: 20px;

}

.prev-case:hover:before{

    opacity: 1;

    content: "";

    width: 46px;

    height: 46px;

    transition: all 0.4s;

}

.prev-case:after{

    transition: all 0.3s;

    opacity: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 13px;

    position: absolute;

    transform: translate(-46px, 0px);

    content: '';

    background-image: url("../img/icon-main-page/arrow-left-black.svg");

    background-repeat: no-repeat;

    background-size: 75%;

    top: 14px;

    left: 13px;

}

.prev-case:hover:after{

    opacity: 1;

    content: '';

    background-image: url("../img/icon-main-page/arrow-left-black.svg");

    transition: all 0.3s;

    transform: translate(0px, 0px);

}



.next-case:hover{

    transition: all 0.3s;

}

.next-case:hover svg path {

    transform: translate(40px, 0px);

    position: relative;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}

.next-case svg path {

    transform: translate(0px, 0px);

    position: relative;

    -webkit-transition: all 0.3s;

    transition: all 0.3s;

}

.next-case:before{

    transition: all 0.3s;

    display: flex;

    align-items: center;

    justify-content: center;

    opacity: 0;

    background-color: var(--White-80, rgba(246, 246, 246));

    width: 0px;

    height: 0px;

    border: 1px solid white;

    content: "";

    position: absolute;

    border-radius: 20px;

}

.next-case:hover:before{

    opacity: 1;

    content: "";

    width: 46px;

    height: 46px;

    transition: all 0.4s;

}

.next-case:after{

    transition: all 0.3s;

    opacity: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 13px;

    position: absolute;

    transform: translate(46px, 0px);

    content: '';

    background-image: url("../img/icon-main-page/arrow-right-black.svg");

    background-repeat: no-repeat;

    background-size: 100%;

    top: 10px;

    left: 10px;

}

.next-case:hover:after{

    opacity: 1;

    content: '';

    background-image: url("../img/icon-main-page/arrow-right-black.svg");

    transition: all 0.3s;

    transform: translate(0px, 0px);

}

.case_realize_wrapper{

    display: flex;

    flex-direction: column;

    gap: 56px;

    margin-top:150px;

}

.case_realize-ul p{

    font-family: Stapel;

    font-size: 24px;

    font-weight: 400;

    line-height: 32.4px;

    color:  #B1AAAA;

}

.case_realize-ul{

    display: flex;

    flex-direction: column;

    gap: 24px;

}

.case_realize-ul li{

    list-style-type: none;

    display: flex;

    align-items: center;

    gap: 12px;

}

.case_realize-ul li::before{

    content: "";

    display: block;

    flex-shrink: 0;

    width: 12px;

    height: 12px;

    border-radius: 100%;

    background: linear-gradient(265.35deg, #E21D1D -8.12%, #F2F2F2 107.89%);

}

.presentation_item3 ~ .presentation_item4{

    width: 20%;

}

.presentation_item.presentation_item3.presentation_item_fix{

    width: 25%;

}

.start-works{

    display: flex;

    gap: 88px;

    margin-top: 24px;

    flex-wrap: wrap;

}

.start-works-item p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.24px;

    color:#F6F6F6;

}

.start-works-item .red-text{

    font-family: Stapel;

    font-size: 24px;

    font-weight: 500;

    line-height: 31.2px;

    color: #C72626;

    margin-top: 6px;

}

.case_result_work-start ~ .case_result-slider{

    margin-top: 56px;

}

.case_works_wrapp .case_realize-ul li p{

    font-size: 16px;

    font-weight: 400;

    line-height: 22.4px;

}

.case_works_wrapp .case_realize-ul{

    gap: 16px;

    margin: 32px 0;

}

.case_works_wrapp .ul-case_works{

    margin-bottom: 32px;

}

.case_video_wrapper{

    padding: 0;

    overflow: hidden;

}
.case_video_wrapper iframe{
    margin-bottom: -4px;
    width: 100%;
}

.case_video_wrapper video{

    width: 100%;

    height: 100%;

    margin-bottom: -4px;

}

.video-pause{

    opacity: 0;

    transition: .5s;

}

.case_video_wrapper:hover .video-pause ,.video_wrapper:hover .video-pause{

    opacity: 1;

    transition: .5s;

}

.case_result-table-colors{

    display: flex;

    gap: 12px;

    min-width: 1264px;

}

.case_result-table-colors p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 500;

    line-height: 20.24px;

    color: #F6F6F6;

}

.table-column-title,.table-column{

    display: flex;

    flex-direction: column;

    border-right: 1px solid #F6F6F666;

}

.table-column-title{

    width: 20%;

}

.table-column{

    width: 15%;

}

.table-column.column-last{

    width: 17.5%;

}

.case_result-table-colors .column-title{

    font-family: Stapel;

    font-size: 20px;

    font-weight: 500;

    line-height: 26px;

    height: 90px;

}

.column-content{

    display: flex;

    flex-direction: column;

    gap: 32px;

}

.column-content span{

    font-family: Stapel;

    font-size: 14px;

    font-weight: 400;

    line-height: 17.71px;

    margin-left: 8px;   

    margin-right: 8px;  

}

.table-column .column-content .cian{

    color: #1EB7B8;

}

.table-column .column-content .red{

    color: #C72626;

}

.table-column .column-content .equals{

    width: 57px;

    display: inline-block;

    text-align: center;

}

.column-content p{

    flex-shrink: 0;

}

.case_table-wrapper{

    overflow-x: auto;

    -webkit-overflow-scrolling: touch; 

}

.case_realize-ul.case_realize-white li p{

    color: #F6F6F6;

}

.big-photo-100{

    width: 100%;

}

.case_table_column-3 {

    border-bottom: 1px solid #F6F6F61A;

    width: 30%;

    padding-left: 20px;

}

.table-3-column .case_table_column-2{

    width: 30%;

    border-right: 1px solid #F6F6F61A

}

.table-3-column .case_table_column-1{

    width: 40%;

}

.table-3-column .case_table-title-1{

    width: 40%;

}

.table-3-column .case_table-title-2{

    width: 30%;

    border-right: 1px solid #F6F6F61A

}

.table-3-column .case_table-title-3{

    width: 30%;

    padding-left: 20px;

}

.case_table_column-3 p img{

    width: 12px;

    height: 12px;

}
.service_package-item{
    padding: 24px 24px 40px 24px;
    border-radius: 24px;
    background: #252525;
    border-bottom: 1px solid #F6F6F61A;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 16px; 
}
.service_package-head{
    height: 135px;
    border-bottom: 1px solid #F6F6F666;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service_package-title{
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    color: #F6F6F6;
}
.service_package-body{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 60px;
    min-height: 303px;
}
.service_package-footer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
    padding: 0 24px;
    box-sizing: border-box;
}
.service_package-body ul{
    list-style-type: none;
}
.service_package-body ul span{
    color: #B1AAAA;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}
.service_package-body ul li{
    display: flex;
    position: relative;
    padding-left: 25px;
    color: ;
}
.service_package-body ul li::before{
    content: '▪';
    display: inline-block;
    transform: rotate(45deg);
    font-size: 10px;
    color: #B1AAAA;
    position: absolute;
    left: 8px;
    top: 4px;
}
.service_package-footer-price{
    color: #f6f6f6;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.service_package-footer-price span{
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}
.btn{
    border: none;
}
.service_package-points{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 23px;
    color: #B1AAAA;
    font-weight: 400;
    gap: 4px;
}
.service_package-body p {
    color: #eceff1;
}
.service_package-body p em{
    color: #B1AAAA;
}
.service_package-points .service_circle{
    padding: 10px 24px;
    border-radius: 35px;
    border: 1px solid #F6F6F666;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    color: #B1AAAA;
}
.overlay-cards-container {
    position: relative;
}

.overlay-card {
    --hsl: 0, 71%, 40%;
    color: #eceff1;
    background-color: #252525;
    border: 1px solid #eceff133;
    border-radius: 24px;
    box-sizing: border-box;
}
.overlay-card {
    --hue: 165;
    --saturation: 82.26%;
    --lightness: 51.37%;
}

.overlay{
    display: flex;
    gap:32px;
    position: absolute;
    inset:0;
    pointer-events: none;
    user-select: none;
    opacity: var(--opacity, 0);
    -webkit-mask: radial-gradient(
            25rem 25rem at var(--x) var(--y),
            #000 1%,
            transparent 50%
    );
    mask: radial-gradient(
            25rem 25rem at var(--x) var(--y),
            #000 1%,
            transparent 50%
    );
    transition: 400ms mask ease;
    will-change: mask;
}
.overlay.overlay-slider{
    inset: 0 -2px 0 0;
}
.overlay .overlay-card {
    background-color: hsla(var(--hsl), 0.15);
    border-color: hsla(var(--hsl), 1);
    box-shadow: 0 0 0 1px inset hsl(var(--hsl));
    flex-shrink: 0;
}

:not(.overlay) > .overlay-card {
    transition: 400ms background ease;
    will-change: background;
}
.case_dev-works-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(79.46% 1215.24% at 0% 100%, rgba(199, 38, 38, 0.2) 0%, #252525 100%);
    border-radius: 24px;
    padding: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top:  56px;
}
.case_dev-works-wrapper .case_works-text{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
}
.case_dev-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.case_dev-item img{
    flex-shrink: 0;
}
.case_result_photo{
    display: flex;
    gap: 56px;
    margin-top: 56px;
}
.case_photo-name{
    font-family: Stapel;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    color: #F6F6F6;
}
.case_photo_desktop{
    width: 65%;
}
.case_photo_mob{
    width: 30%;
}
.case_photo-name{
    margin-bottom: 10px;
}
.photo-wrapp-scroll{
    overflow-y: auto;
    padding-right: 10px;
    max-height: 500px;
    height: 100%;
}
.photo-wrapp-scroll img{
    width: 100%;
}
.photo-wrapp-scroll::-webkit-scrollbar {

    width: 10px;

    background-color: #252525;

    border-radius: 10px;

}
.photo-wrapp-scroll::-webkit-scrollbar-thumb {

    border-radius: 10px;

    background-color: #363636;

}
.photo-wrapp-scroll::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);

    border-radius: 10px;

    background-color: #252525;

}
.show-more-button{
    display:none;
    margin-left:auto;
    color: #F6F6F6;
    margin-top:10px;
}
.show-more-button:hover,.show-more-button:target,.show-more-button:active{
    color: #C72626;
}

.case_presentation-seo-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.case_presentation-seo-text{
    border-radius: 24px;
    padding: 32px 48px;
    background:linear-gradient(0deg, rgba(199, 38, 38, 0.2), rgba(199, 38, 38, 0.2)),
linear-gradient(66.95deg, rgba(199, 38, 38, 0.2) 8.64%, rgba(199, 38, 38, 0) 95.55%);
}
.case-seo-result,.case-seo-result-search{
    margin-top: 150px;
}
.case-seo-result-wrapper{
    margin-top: 56px;
    border-radius: 24px;
    background: #252525;
    padding: 48px 88px;
}
.case-seo-result-wrapper .case-seo-result-text{
    text-align: center;
}
.case-seo-result-wrapper img{
    border-radius: 24px;
    width: 100%;
}
.case-seo-result-wrapper.search-wrapper{
    padding: 48px 48px 24px 48px;
    display: flex;
    gap: 24px;
}
.case-seo-result-text{
    margin-bottom: 24px;
}
.case-seo-result-search-text{
    margin-top: 150px;
}
.case-seo-result-search-wrapper{
    width:50%;
}
.case-seo-result-search-wrapper .case-seo-result-photo{
    width:100%;
}
.case_works-wrapper.case_works-seo{
    display:block;
}
.case_works-wrapper.case_works-seo .case_works-wrapper{
    margin-top:0;
}
@media (min-width:1200px){

    .presentation_item1.presentation_text{

        height: 125px;

    }

}

@media (max-width:1200px){

    .case_presentation-text{

        flex-direction: column;

        gap: 32px;

    }

    .case_presentation-text .presentation_item {

        width: 100%;

    }

    .case_presentation-btn{

        justify-content: left;

    }

    .case_presentation-wrapper{

        gap: 32px;

        padding: 40px 32px;

    }

    .case_result-graph{

        flex-direction: column-reverse;

        gap: 40px;

        margin-top: 32px;

    }

    .case_result-img{

        width: 100%;

    }

    .case_result-item{

        padding: 45px 24px;

    }

    .case_works-wrapper{

        flex-direction: column;

    }

    .ul-case_works{

        width: 100%;

    }

    .case_review, .case_result_work, .case_works, .case_recommended{

        margin-top: 100px;

    }

    .case_hero{

        background-position: center;

    }

    .case_works-wrapper{

        margin-top: 24px;

    }

    .case_works_wrapp .case_realize-ul{

        margin: 24px 0;

    }

    .case_works_wrapp .ul-case_works{

        margin-bottom: 24px;

    }

    .presentation_item.presentation_item3.presentation_item_fix{

        width: 50%;

    }

    .title-flex{

        flex-direction: column;

    }

    .case_result-graph-point p br{

        display: none;

    }

    .prev-case{

        top: -4.5em;

    }

    .next-case{

        top: -4.5em;

    }
    .case_dev-works-wrapper .case_works-text{
        grid-template-columns:1fr 1fr;
    }
        .case-seo-result, .case-seo-result-search{
        margin-top: 100px;
    }
    .case_presentation-seo-wrapper{
        grid-template-columns: 1fr;
    }
    .case-seo-result-wrapper{
        padding: 24px;
    }
    .case-seo-result-search-text{
        margin-top: 100px;
    }
}

@media (max-width:768px) {
    .show-more-button{
        display:block;
    }
    
    .review_part{

        width: 100%;

        margin: 0;

    }

    .video_part{

        width: 100%;

        top: -110px;

        display: flex;

    }

    .review-video_wrapper{

        margin-top: 140px;

    }

    .video_wrapper{

        width: 50vw;

    }

    .container{

        width: auto;

    }

    .case_stat{

        flex-direction: column;

        gap: 24px;

    }

    .case_presentation .case_review, .case_result_work, .case_works, .case_recommended{

        margin-top: 80px;

    }

    .case_presentation-wrapper{

        padding: 32px 24px;

    }

    .case_result-item{

        padding:32px 16px;

    }

    .prev-case{

        top: auto;

        bottom: -74px;

    }

    .next-case{

        top: auto;

        bottom: -74px;

    }

    .case_result-slider{

        margin-bottom: 74px;

    }

    .case_works_wrapp .case_realize-ul{

        margin: 16px 0;

    }

    .case_works_wrapp .ul-case_works{

        margin-bottom: 16px;

    }

    .start-works{

        gap: 32px;

        row-gap: 16px;

    }

    .presentation_item.presentation_item3.presentation_item_fix{

        width: 100%;

    }

    p , li{

        font-size: 14px !important;

        line-height: 17.71px !important;

    }

    .presentation_item .presentation_text{

        font-size: 14px !important;

        line-height: 17.71px !important;

    }

    .stat_item .stat_text{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .case_result-item p{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .case_recommenden-price p:nth-child(2){

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .case_result-table-colors .column-title{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .presentation_item p{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    h3{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .case_recommended-item-title p{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .case_realize-ul p{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    .start-works-item .red-text{

        font-size: 18px !important;

        line-height: 24.3px !important;  

    }

    h1{

        font-size: 28px ;

        line-height: 35.42px ;

    }

    h2{

        font-size: 28px !important;

        line-height: 35.42px !important;

    }

    .presentation_item.presentation_item3 ul li p{

        font-size: 14px !important;

        line-height: 17.71px !important;

    }

    .presentation_item.presentation_item3 ul li::before{

        top: 0px;

    }

    .case_realize_wrapper{

        margin-top: 80px;

    }

    .case_recommended-item{

        padding:40px 16px 24px 16px;

    }

    .case_realize-ul.case_realize-white li p{

        font-size: 14px !important;

        line-height: 17.71px !important;

    }

    .case_result_work-wrapper{

        margin-top: 24px;

    }

    .case_result-wrapper{

        gap: 32px;

    }

    .case_result_work-start ~ .case_result-slider.slider-graph{

        margin-top: 0;

    }

    .case_result-table-colors p{

        font-size: 14px !important;

        line-height: 17.71px !important;

    }

    .column-content{

        gap: 24px;

    }

    .case_result-table-colors .column-title{

        height: 70px;

    }

    .case_table_column-3 {

        width: 20%;

    }

    .table-3-column .case_table_column-2{

        width: 20%;

    }

    .table-3-column .case_table_column-1{

        width: 60%;

    }

    .table-3-column .case_table-title-1{

        width: 60%;

    }

    .table-3-column .case_table-title-2{

        width: 20%;

    }

    .table-3-column .case_table-title-3{

        width: 20%;

    }
    .case_video_wrapper iframe{
        height: 300px;
    }
    .case_result_photo{
        flex-direction: column;
        gap: 24px;
    }
    .case_dev-works-wrapper .case_works-text{
        max-height: max-content; 
        grid-template-columns:1fr;
        overflow:hidden;
        transition:.5s;
        max-height: 300px;
    }
    .case_dev-works-wrapper{
        padding: 20px;
    }
    .case_photo_desktop{
        width: 100%;
    }
    .case_photo_mob{
        width: 100%;
    }
    .case_recommended-wrapper .overlay-inner{
        margin-top: 32px;
    }
    .case_recommended{
        margin-bottom: 80px;
    }
    .case_recommended-wrapper .slick-list{
        margin-left: -15px;
        margin-right: -15px;
    }

    .case-seo-result-wrapper.search-wrapper{
        flex-direction: column;
        padding: 24px;
    }
    .case-seo-result-wrapper.search-wrapper .case-seo-result-search-wrapper{
        width:100%;
    }
    .case-seo-result, .case-seo-result-search{
        margin-top: 80px;
    }
    .case_presentation-seo-wrapper{
        grid-template-columns: 1fr;
    }
    .case-seo-result-wrapper{
        padding: 24px;
    }
    .case-seo-result-search-text{
        margin-top: 80px;
    }
}

@media (max-width:500px) {

    .case_table_column-3 {

        width: 25%;

    }

    .table-3-column .case_table_column-2{

        width: 25%;

    }

    .table-3-column .case_table_column-1{

        width: 50%;

        word-break: break-all;

    }

    .table-3-column .case_table-title-1{

        width: 50%;

    }

    .table-3-column .case_table-title-2{

        width: 25%;

    }

    .table-3-column .case_table-title-3{

        width: 25%;

    }

}