*{

    box-sizing: border-box;

}

h1{

    overflow: hidden;

    color: white;

    font-size: 3.5rem;

    line-height: 120%;

    background: linear-gradient(211deg, #e21d1d 0%, #f2f2f2 100%);

    background-clip: text;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    margin-top: 4rem;

    margin-bottom: 56px;

    display: inline-block;

}

h2{

    font-family: Stapel;

    font-size: 40px;

    font-weight: 500;

    line-height: 48px;  

    color: #F6F6F6;

}

h3{

    font-family: Stapel;

    font-size: 32px;

    font-weight: 500;

    line-height: 40.48px;

    color: #F6F6F6;

}

p{

    font-family: Stapel;

    font-size: 24px;

    font-weight: 400;

    line-height: 32.4px;

    color: #B1AAAA;  

}

label{

    font-family: Stapel;

    font-size: 14px;

    font-weight: 400;

    line-height: 17.71px;

}

.contact_page-wrapper{

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap:48px;

}

.contact_column{

    display: flex;

    flex-direction: column;

    gap: 48px;

}

.contact_item h3{

    margin-bottom: 24px;

}

.contact_item-text{

    display: flex;

    flex-direction: column;

    gap: 16px;

}
.contact_item-text a{
    font-family: Stapel;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.4px;
    color: #B1AAAA;
    text-decoration: none;
    transition: .3s;
}
.contact_item-text a:hover{
    color: #C72626;
    transition: .3s;
}


.contact_video{

    margin-top: 150px;

}

.contact_video h2{

    text-align: center;

    margin-bottom: 56px;

}

.video_wrapper{

    position: relative;

    width: 100%;

}

.video_wrapper .myVideo{

    width: 100%;

    border-radius: 24px;



}

.video-play {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    margin: auto;

    width: 56px;

    height: 56px;

    border-radius: 50%;

    background: #15151566;

    box-shadow: 0 0 0 4px #F6F6F666;

    z-index: 1;

    cursor: url(../img/pointer.svg),pointer;

    transition: 0.2s ease;

    transition-property: opacity, visibility;

}



.video-play::before {

    content: "";

    display: block;

    position: absolute;

    top: 0;

    bottom: 0;

    margin: auto;

    left: 21px;

    width: 0;

    height: 0;

    border: 20px solid transparent;

    border-top-width: 12px;

    border-bottom-width: 12px;

    border-left-color: #C72626;

    border-right-width: 0;

    transition: transform 0.2s ease;

}



.video-pause {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    margin: auto;

    width: 56px;

    height: 56px;

    border-radius: 50%;

    background: #15151566;

    box-shadow: 0 0 0 4px #F6F6F666;

    z-index: 1;

    cursor: url(../img/pointer.svg),pointer;

    transition: 0.2s ease;

    transition-property: opacity, visibility;

    display: none; /* Изначально скрыта */

}



.video-pause::before, .video-pause::after {

    content: "";

    display: block;

    position: absolute;

    top: 0;

    bottom: 0;

    margin: auto;

    width: 8px;

    height: 24px;

    background-color: #C72626;

}



.video-pause::before {

    left: 15px;

    pointer-events: all;

}



.video-pause::after {

    right: 15px;

    pointer-events: all;

}

.video-pause{

    opacity: 0;

    transition: .5s;

}

.video_wrapper:hover .video-pause{

    opacity: 1;

    transition: .5s;

}

.contact_discuss{

    margin-top: 150px;

    background: #0C0C0C;

    padding-top: 130px;

    padding-bottom: 160px;

}

form{

    max-width: 648px;

    margin-top: 64px;

    margin-left: auto;

    margin-right: auto;

    position: relative;

}

form input{

    font-size: 16px;

    background-color: transparent;

    border: 0px;

    border-bottom: 1px solid #F6F6F6CC;

    padding-bottom: 15px;

    color: #F6F6F6;

}

form input:focus{

    outline: none;

}

form label{

    font-family: Stapel;

    font-size: 14px;

    font-weight: 400;

    line-height: 17.71px;

    color: #F6F6F6CC;

}

.form-input{

    display: flex;

    flex-direction: column;

    gap: 8px;

}

.form-first-row{

    display: flex;

    gap: 32px;



}

.form-first-row .form-input{

    width: 100%;

}

form a{

    color: #B1AAAA;

}

form p {

    font-size: 14px;

    font-weight: 400;

    line-height: 17.71px;

    color: #B1AAAA;

}

.contact_discuss-wrapper > h2{

    text-align: center;

    margin-bottom: 12px;

}

.contact_discuss-wrapper > p{

    text-align: center;

    width: 467px;

    margin-left: auto;

    margin-right: auto;

}

.input-email, .input-text{

    margin-top: 48px;

    margin-bottom: 20px;

}

form .btn-primary{

    background: #C72626;

    font-size: 16px;

    font-weight: 500;

    line-height: 20.24px;

    font-family: Stapel;

    width: 160px;

    height: 160px;

    border: none;

    color: #F6F6F6;

    border-radius: 100%;

    position: absolute;

    bottom: -40px;

    right: -208px;

    transition: .3s;

}

form .btn-primary:hover,form .btn-primary:active, form .btn-primary:focus{

    background: #F6F6F6;

    color: #0C0C0C;

    transition: .3s;

}

.contact_map-wrapper .container{

    position: relative;

    z-index: 1;

}

.contact_map-wrapper .contact_map-adress{

    position: absolute;

    padding: 32px;

    background:

linear-gradient(248.21deg, rgba(199, 38, 38, 0.2) 3.32%, rgba(255, 255, 255, 0.2) 98.88%),

linear-gradient(0deg, rgba(247, 247, 247, 0.8), rgba(247, 247, 247, 0.8));

    border: 1px solid #C7262633;

    backdrop-filter: blur(30px);

    width: 295px;

    border-radius: 24px;

    top: 56px;

}

.contact_map-adress h3,.contact_map-adress p{

    color: #0C0C0C;

}

.contact_map-adress h3{

    font-family: Stapel;

    font-size: 20px;

    font-weight: 500;

    line-height: 26px;

    margin-bottom: 24px;

}

.contact_map-adress p{

    font-family: Stapel;

    font-size: 16px;

    font-weight: 400;

    line-height: 20.8px;

}

.contact_map-adress p:nth-child(2){

    margin-bottom: 16px;

}

#wrapMap {

    position: relative;

    cursor: help;

}

.mapTitle {

    position: absolute;

    z-index: 1000;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;

    display: none;

    padding: 5px 20px;

    border-radius: 5px;

    color: #0C0C0C;

    background: #F6F6F6;

}

@media (max-width:1200px) {

    h1{

        font-size: 48px;

        line-height: 52.8px;

    }

    h2{

        font-size: 32px;

        line-height: 40.48px;

    }

    h3{

        font-size: 24px;

        line-height: 31.2px;     

    }

    p{

        font-size: 18px;

        line-height: 24.3px;

    }

    .contact_page-wrapper{

        gap: 40px;

    }

    .contact_column{

        gap: 40px;

    }

    .contact_video{

        margin-top: 100px;

    }

    .contact_discuss{

        margin-top: 100px;

        padding-top: 72px;

        padding-bottom: 72px;

    }

    form .btn-primary{

        position: static;

        margin-top: 56px;

        margin-left: auto;

        margin-right: auto;

        display: block;

    }

    form{

        max-width: 100%;

        margin-top: 56px;

    }

    .contact_discuss-wrapper > h2{

        margin-bottom:16px;

    }

    .input-email, .input-text{

        margin-top: 40px;

        margin-bottom: 12px;

    }

    .contact_discuss-wrapper > p{

        width: 460px;

    }



}

@media (max-width:768px) {

    h1{

        font-size: 36px;

        line-height: 44.64px;

    }

    h2{

        font-size: 28px;

        line-height: 35.42px;

    }

    h3{

        font-size: 20px;

        line-height: 26px;

    }

    p{

        font-size: 16px;

        line-height: 20.8px;

    }

    .contact_video{

        margin-top: 80px;

    }

    .contact_discuss{

        margin-top: 80px;

        padding-top: 56px;

        padding-bottom: 56px;

    }

    .contact_page-wrapper{

        grid-template-columns: 1fr;

    }

    .form-first-row{

        flex-direction: column;

    }

    form .btn-primary{

        margin-top: 48px;

    }

    form{

        margin-top: 40px;

    }

    .input-email, .input-text{

        margin-top: 32px;

        margin-bottom: 12px;

    }

    .contact_discuss-wrapper > p{

        width: 256px;

    }

    .contact_map-adress{

        display: none;

    }

}